# Открываем данные для обучения

In [40]:
import pandas as pd
 
data = pd.read_csv('train-Copy1.csv')

# Проверяем, есть ли пропуски в базе данных

In [60]:
print(data.isna().sum())

Target                          0
Alcohol                         0
Malic acid                      0
Ash                             0
Alcalinity of ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
dtype: int64

# Модель обучения

In [41]:
# Импорт всех нужных библитотек

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# Обучение модели

In [42]:
X = data.drop("Target", axis = 1) # Переменная Х содержит всё кроме результата
y = data["Target"] # Переменная y содерижт только результат

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1) #Разделяем базу на трен. и обуч. выборки

model_ML_logic = make_pipeline(StandardScaler(), LogisticRegression())

model_ML_logic.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

# Проверяем модель

In [43]:
model_ML_logic.score(X_test, y_test)

1.0

# Открываем файл для тестирования модели и работем с ним

In [44]:
data_test = pd.read_csv('test-Copy1.csv')

In [45]:
data_test

,index,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,12.93,2.81,2.70,21.0,96,1.54,0.50,0.53,0.75,4.60,0.77,2.31,600
1,2,13.17,5.19,2.32,22.0,93,1.74,0.63,0.61,1.55,7.90,0.60,1.48,725
2,3,12.08,1.33,2.30,23.6,70,2.20,1.59,0.42,1.38,1.74,1.07,3.21,625
3,4,12.85,1.60,2.52,17.8,95,2.48,2.37,0.26,1.46,3.93,1.09,3.63,1015
4,5,12.72,1.81,2.20,18.8,86,2.20,2.53,0.26,1.77,3.90,1.16,3.14,714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,68,14.10,2.02,2.40,18.8,103,2.75,2.92,0.32,2.38,6.20,1.07,2.75,1060
68,69,12.04,4.30,2.38,22.0,80,2.10,1.75,0.42,1.35,2.60,0.79,2.57,580
69,70,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
70,71,13.73,4.36,2.26,22.5,88,1.28,0.47,0.52,1.15,6.62,0.78,1.75,520
71,72,12.08,1.13,2.51,24.0,78,2.00,1.58,0.40,1.40,2.20,1.31,2.72,630

# Проверяем есть ли пропуски

In [61]:
print(data_test.isna().sum())

index                           0
Alcohol                         0
Malic acid                      0
Ash                             0
Alcalinity of ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
dtype: int64

# Запуск модели

In [46]:
Test_out_end = model_ML_logic.predict(data_test.drop("index", axis = 1))
data_test_index = pd.DataFrame(data_test["index"])

In [48]:
# Результат работы модели

Test_out_end

array([3, 3, 2, 1, 2, 2, 2, 3, 1, 1, 2, 2, 2, 1, 2, 2, 1, 1, 1, 1, 3, 2,
       2, 2, 1, 2, 1, 1, 2, 3, 3, 1, 2, 1, 2, 3, 1, 3, 3, 1, 2, 1, 3, 1,
       2, 2, 2, 2, 3, 3, 1, 3, 2, 1, 3, 2, 2, 2, 1, 2, 1, 3, 3, 3, 3, 2,
       1, 1, 2, 1, 3, 2], dtype=int64)

# Форматируем результат для объединения с data_test_index

In [49]:
df_Test_out_end = pd.DataFrame({"Target":Test_out_end})

In [52]:
sample_submission = data_test_index.join(df_Test_out_end)

# Сохраняем результат в csv файл

In [55]:
sample_submission.to_csv("sample_submission.csv", sep=',', index=False)